# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# Electron
desktop/node_modules/
desktop/dist/
desktop/out/
desktop/release/

# Strip data (downloads)
strip-data/
*.jpg

# Misc
.DS_Store
Thumbs.db
*.log
.env

**/resources/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
